/* Base elements */
button:disabled {
  background-color: gray;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

/* Components */
.item-launch img {
  width: 25px;
  height: 25px;
  margin: 0;
}

.table-controls {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
